* {
    font-family: Arial, sans-serif;
    /*pointer-events: none;*/
}

body {
    background-color: rgba(29, 29, 29, 1);
}

                                                                   /*Header section style*/
header {
    width: 100vw;
    height: 150px;
    position: relative;
}

header>img {
    position: relative;
    top: 30px;
    left: 30px;
}

header>div>img {
    margin-right: -45px;
    margin-top: -7px;
}
header>div {
    position: fixed;
    top: 0;
    right: 0;

    overflow: hidden;
    height: 180px;
}

#headerNav {
    margin-top: -131px;
    margin-left: 35px;
}

header>div>nav>a {
    color: rgba(25, 25, 25, 1);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    padding: 5px 12px;
    box-sizing: border-box;
}

header>div>nav>a:hover {
    padding: 5px 8px;
    border: 4px solid rgba(204, 161, 94, 1);
    border-bottom-color: rgba(25, 25, 25, 1);

    animation-name: header-nav-anime;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes header-nav-anime {
    from {
        border-bottom-color: rgba(204, 161, 94, 1);
    }
    to {
        border-bottom-color: rgba(25, 25, 25, 1);
    }
}

.circle {
    width: 50px;
    height: 50px;
    position: relative;
    top: 314px;
    left: 132px;
    display: flex;
}

#animated-circle {
    width: 5px;
    aspect-ratio: 1/1;

    border: 2px solid white;
    border-radius: 100%;

    animation-name: circle;
    animation-duration: 690ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-self: center;
}

@keyframes circle {
    0% {
        width: 5px;
        aspect-ratio: 1/1;
    }
    25% {
        width: 10px;
    }

    50% {
        width: 15px;
    }

    75% {
        width: 20px;
    }

    100% {
        opacity: 0;
        width: 25px;
    }
}

                                                                            /*section 1 style*/

#section1-about {
    margin-top: -120px;
    margin-left: 340px;
}

#section1-about>p {
    font-size: large;
    font-weight: normal;
    color: rgba(254, 206, 132, 1);
}

#social-link {
    margin-left: 80px;
    margin-top: 80px;
}
#social-link>nav>ul {
    list-style-type: none;
    display: flex;
}

#social-link>nav>ul>li>button {
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: rgba(204, 165, 106, 1);
    margin-left: 30px;

    border: 0;
}

#icon-clr>li>button>span {
    color: rgba(29, 29, 29, 1);
}

.section1 {
    height: 100vh;
    margin-top: -70px;
}

.intro-style {
    font-size: xxx-large;
    font-weight: bolder;

    margin-left: 150px;
    margin-top: -110px;
}

.add-font-clr {
    color: rgba(254, 206, 132, 1);
}

.intro-style>p {
    margin: 25px;
    color: white;
}

.intro-style>p:nth-last-of-type(1) {
    font-size: large;
}

#gold-rec-border {
    width: 178px;
    aspect-ratio: 1/1;
    border: 4px solid rgba(254, 206, 132, 1);
    border-radius: 5px;

    margin-top: 160px;
    margin-left: 127px;
}

.section1-style {
    display: flex;
}

.section1-lef {
    width: 900px;
}

.custom-layer {
    display: flex;
}

.profile-pic {
    margin-left: 310px;
    width: 440px;
}

@keyframes section1-gold-border {
    from {
        width: 180px;
        height: 450px;
    }
    to {

        width: 170px;
        height: 440px;
    }
}

.section1-right {
}

#div1 {
    width: 407px;
    aspect-ratio: 1/1;
    background-color: rgba(184, 142, 77, 1);
    margin-top: 270px;
    margin-left: 370px;
    border-radius: 10px;
    box-shadow: rgba(255, 218, 160, 0.3) 0 50px 100px -20px, rgba(255, 218, 160, 0.1) 0 30px 60px -30px;

    animation-name: profile-div;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes profile-div {
    from {
        box-shadow: rgba(255, 218, 160, 0.4) 0 50px 100px -20px, rgba(255, 218, 160, 0.2) 0 30px 60px -30px;
    } to {
        box-shadow: rgba(255, 218, 160, 0.1) 0 50px 100px -20px, rgba(255, 218, 160, 0.1) 0 30px 60px -30px;
    }
}

#div2 {
    width: 268px;
    aspect-ratio: 1/1;
    background-color: rgba(254, 206, 132, 1);
    margin-top: -470px;
    margin-left: 290px;
    border-radius: 5px;
}

#div3 {
    width: 187px;
    aspect-ratio: 1/1;
    background-color: rgba(255, 218, 160, 1);
    border: 5px solid rgba(255, 218, 160, 0.1);
    margin-top: -90px;
    margin-left: 670px;
    border-radius: 4px;
}

.img-pos {
    margin-top: -451px;
}

                                                                    /*Section 2 style*/

#aboutMe {
    font-size: 90px;
    color: rgba(248, 239, 180, 1);
    font-weight: bolder;
    font-family: Inter, sans-serif;
    margin-left: 500px;
    margin-top: 170px;
}

#gold-border {
    width: 1032px;
    height: 534px;
    border: 4px solid rgba(248, 239, 180, 1);
    border-radius: 5px;
    display: flex;
    margin-left: 440px;
}
#x-line {
    height: 630px;
    width: 0;
    border-radius: 4px;
    border: 2px solid rgba(248, 239, 180, 1);
    margin-top: -51px;
    margin-left: -4px;
}


#y-line1 {
    width: 50px;
    height: 0;
    border-radius: 4px;
    border: 2px solid rgba(248, 239, 180, 1);
    margin-top: -4px;
    margin-left: -50px;
}
#y-line2 {
    width: 50px;
    height: 0;
    border-radius: 4px;
    border: 2px solid rgba(248, 239, 180, 1);
    margin-left: 390px;
    margin-top: -4px;
}


#about-img {
    margin-top: 70px;
    margin-left: -150px;
}

#gold-border>div>p {
    color: rgba(255, 218, 161, 1);
    font-size: 22px;
    font-weight: bold;
    margin-top: 80px;
    font-family: monospace;
}
                                                                      /*Section 3 style*/

#clr-vectors {
    height: 900px;
    margin-top: 800px;
    position: relative;
    top: 240px;
}

.tag-name {
    /*border: 2px solid black;*/
    width: 810px;
    height: 2300px;
    position: relative;
    top: -1678px;
    left: 580px;
    color: rgb(29, 29, 29);
}

#section3 {
    width: 100vw;
    height: 2120px;;
}

#section3>div>div>h1 {
    font-family: Inter, sans-serif;
    font-size: 135px;
    font-weight: bolder;
    position: relative;
    top: 350px;
}

.tag-name>div {
    height: 600px;
    position: sticky;
    top: 0;
}

#first-rec {
    width: 100vw;
    height: 1000px;
    background-color: rgba(142, 97, 28, 1);
    padding-top: 140px;
    margin-top: -100px;
    box-shadow: rgb(142, 97, 28) 0 0 80px 80px;
}

#second-rec {
    width: 100vw;
    height: 700px;
    background-color: rgba(200, 152, 82, 1);
    padding-top: 120px;
    box-shadow: rgb(200, 152, 82) 0 -18px 100px 130px;
}

#third-rec {
    width: 100vw;
    height: 200px;
    background-color: rgba(252, 227, 190, 1);
    margin-top: 180px;
    box-shadow: rgb(252, 227, 190) 0 0 130px 140px;
}

.black-circle {
    width: 100vw;
    height: 300px;
    border-radius: 100%;
    background-color: rgba(29, 29, 29, 1);
    box-shadow: rgba(29, 29, 29, 1) 0 0 170px 360px;
}

#circ-pos1 {
    position: relative;
    top: -1730px;
    left: 0;
}

#circ-pos2 {
    position: relative;
    top: -3859px;
    left: 0;
}
                                                                        /*Section 4 styles*/

#section4 {
    height: 1200px;
}

.gold-circ {
    width: 15px;
    aspect-ratio: 1/1;
    border: 4px solid rgba(248, 239, 180, 1);
    border-radius: 100%;
}

#gold-circV2 {
    border: 0;
    background-color: rgba(248, 239, 180, 1);
}

#ed-line {
    position: relative;
    top: 530px;
    left: 176px;
}

.v2pos {
    position: relative;
    top: 900px;
    left: 170.5px;
}

.ed-content>div>img {
    margin-left: 570px;
    margin-top: 30px;
}

#circ1 {
    position: relative;
    top: 120px;
    left: 167px;
}

#circ2 {
    position: relative;
    top: 535px;
    left: 251px;
}

.gold-circ:first-of-type {
    position: relative;
    top: 10px;
    left: 30px;
}

.gold-circ:nth-last-of-type(1) {
    position: relative;
    top: 0;
    left: 20px;
}

#section4>div:nth-last-of-type(2) {
    margin-left: 290px;
    margin-top: -134px;
}

#section4>div:nth-last-of-type(1) {
    margin-left: 370px;
    margin-top: 250px;
}

#gold-line {
    width: 750px;
    height: 0;
    border: 3px solid rgba(248, 239, 180, 1);
    border-radius: 4px;
    rotate: 90deg;
    position: relative;
    top: 340px;
    left: -200px;
}

#sec4-header {
    margin-left: 240px;
}

.ed-content {
    display: flex;
}

#sec4-header>h1 {
    font-size: 65px;
    color: rgba(248, 239, 180, 1);
    font-weight: bolder;
    font-family: monospace;
}

.ed-header>h3 {
    font-size: 32px;
    color: rgba(204, 165, 106, 1);
    font-weight: bolder;
    font-family: monospace;
}

.ed-desc>p {
    font-size: 20px;
    color: rgba(248, 239, 180, 1);
    font-weight: bolder;
    font-family: monospace;
    text-align-last: left;

    background: linear-gradient(to left, rgba(248, 239, 180, 1), rgba(204, 200, 109, 0.31));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ed-desc {
    width: 665px;
}

                                                                      /*Footer section styles*/
footer {
    height: 320px;
    clip-path: polygon(0 6%, 100% 14%, 100% 100%, 0% 100%);
    background-color: rgba(29, 29, 29, 1);
}

footer>div {
    width: 100vw;
    height: 291px;
    background-color: rgba(15, 15, 15, 1);
    clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);

    position: relative;
    bottom: -28px;
}

.custom-list>li>button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(15, 15, 15, 1);
}

.footer-text {
    text-align: center;
    color: white;
    position: relative;
    bottom: -100px;
}

footer>div>hr {
    position: relative;
    top: 89px;
}

.custom-list {
    list-style-type: none;
    display: flex;
    color: white;
}

footer>div>div>nav>ul>li>a {
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    color: white;
}

.footer-nav {
    width: 500px;
    position: relative;
    left: 690px;
    top: 80px;
}
